.container {
  display: flex;
  width: 230px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 6px;
  margin-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

p {
  display: flex;
  align-items: center;
}

p svg {
  padding-right: 8px;
}
